.homeHero {
    margin-block: 7rem;
}

.heroContainer {
    text-align: center;
}

.homeContent {
    padding-left: var(--padding-horizontal-section);
    padding-right: var(--padding-horizontal-section);
}

@media (min-width: 800px) {
    .homeHero {
        margin-block: 10rem;
    }
}