.header {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-block: clamp(0.5rem, 2vw, 5rem);
    border-bottom: 1px solid gray;
}

/* Website Logo */
.left {
    color: var(--heading-color);
    font-weight: var(--super-bold);
}

/* Desktop menu */
.nav ul {
    display: none;
    gap: 2rem;
    color: var(--heading-color);
}

/* Language toggle and hamburger menu */
.right {
    display: flex;
    gap: 1rem;
    max-height: 1rem;
    align-items: center;
}

.select:hover {
    background-color: black;
    color: white;
}

/* Hamburger / Close button */
.ham {
    width: 40px;       /* fixed width */
    height: 40px;      /* fixed height */
    font-size: 1.5rem; /* same size for both icons */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    padding-bottom: 2px;
    margin-left: 0.5rem;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    background-color: var(--background-color);
}

/* Hamburger Dropdown */
.dropdownContainer {
    background-color: var(--background-color);
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}



@media (min-width: 800px) {
    .nav ul {
        display: flex;
    }

    .ham {
        visibility: hidden;
    }
}